<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Report</title>
    <link rel="stylesheet" href="{% static 'group8/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'group8/favicon.png' %}" type="image/png">
    <script defer src="{% static 'group8/script.js' %}"></script>
</head>

<body>
    <header>
        <div id="header-container">
            <h1>Progress Report</h1>
        </div>
    </header>

    <div id="main-content">
        <section id="progress" class="centered-section">
            <h2>Progress Overview</h2>
            <button id="show-progress-btn">Show Progress</button>
            <!-- Progress details will be dynamically added here -->
        </section>
    </div>
</body>

</html>